{% extends 'layout.html' %}

{% block title %} <title>DragonFeed - Admin Panel</title> {% endblock %}

{% block index.html%}
    <div class="container">
        <p class="text-center content-header">Welcome to the Admin Panel, {{username}}</p>
        <br>
        <div class="row">
            <div class="col-md-2 offset-md-3">
                <a href="{% url 'adminpanel:addevent' %}">
                    <button class="btn admin-panel-button">
                        Add Article
                    </button>
                </a>
            </div>
            <div class="col-md-2 ">
                <a href="{% url 'adminpanel:edit-event' %}">
                    <button class="btn admin-panel-button">
                        Edit Article
                    </button>
                </a>
            </div>
            <div class="col-md-2">
                <a href="{% url 'accounts:logout' %}">
                    <button class="btn admin-panel-button">
                        Logout
                    </button>
                </a> 
            </div>
        </div>
    </div>

{% endblock %}