{% extends 'layout.html'%}
{% load staticfiles %}

{% block title %}<title>DragonFeed - Create Event</title>{% endblock %}

{% block header %}
	<h3>Add New Article</h3>
{% endblock %}

{% block index.html%}
	<div class="container">
		<h3 class="text-center content-header">Create Event</h3>
		<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% include 'formtemplate.html'%}
			<button type="submit" class="btn btn-success add-article-button">Add Article</button>
		</form>
	</div>
{% endblock %}
		