{% extends 'layout.html'%}

{% block title %}<title>DragonFeed - {{ article.Title }} Details</title>{% endblock %}

{% block index.html%}
    <div class="container col-centered">
        <p class="text-center content-header">{{ article.Title }}<span style="font-size:10px;">(currently in the adminpanel)</span></p>
        <br>
        <div class="row">
            <div class="card" style="width: 22rem; margin-left:200px;">
                <img src="{{ article.Flyer.url }}" class="card-img-top" alt=" {{ article.Title }} event">
            </div>
            <div class="col-md-5 col-md-offset-2">
                <br>
                <br>
                <br>
                <h5>More information here</h5>
                <p>Orginization: {{ article.Orginization }}</p>
                <p>Location: {{ article.Location }}</p>
                <p>Description: {{ article.Description }}</p>
                <p>Start Time: {{ article.Start }}</p>
                <p>End Time: {{ article.End }}</p>
                <p>More information about this event can be found
                <a href="{{ article.Link }}" target="_blank">here</a>!</p>
                <a href="{% url 'adminpanel:adminpanel' %}">
                    <button class="adminpanel-back">Back to Admin Panel</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}