{% extends 'layout.html'%}

{% block title %}<title>DragonFeed - Edit events</title>{% endblock %}

{% block index.html%}
<div class="container">
    <div class="row">
        {% if allArticles %}
            {% for article in allArticles %}
                <div class="col-md-4">
                    <div class="card">
                        <a href="{% url 'article:details' article.id  %}">
                            <img class="card-img-top" src="{{article.Flyer.url}}" alt="{{article.Flyer.Title}}">
                        </a>
                        <br>
                        <div class="card-footer">
                            <div class="btn-group float-center" role="group">
                                <form action="{% url 'adminpanel:event-delete' article.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="article_id" value="{{ article.id }}"/>
                                    <button class="btn btn-md btn-block btn-secondary btn-danger">Delete</button>
                                </form>
                                <form action="{% url 'adminpanel:event-update' article.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="article_id" value="{{ article.id }}" />
                                    <button class="btn btn-md btn-block btn-seconday btn-info">Edit Article</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br> 
                </div>          
            {% endfor %}
        {% else %}
                <h1>No events to be edited</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
