{% extends 'layout.html'%}

{% block title %}<title>DragonFeed - {{username}}'s events</title>{% endblock %}

{% block index.html%}
<div class="container">
    {{username}}
    <div class="row">
        {% for article in allArticles %}
            <div class="col-md-4">
                <div class="card">
                    <a href="{% url 'article:details' article.id  %}">
                        <img class="card-img-top" src="{{article.Flyer.url}}" alt="{{article.Flyer.Title}}">
                    </a>
                    <br>
                    <div class="card-footer">
                        <small class="text-muted">Uploaded {{article.timestamp}}</small>
                        <div class="btn-group float-right" role="group">
                            <form action="{% url 'adminpanel:event-delete' article.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="article_id" value="{{ article.id }}"/>
                                <button class="btn btn-secondary btn-sm btn-danger">Delete</button>
                            </form>
                            <form action="{% url 'adminpanel:event-update' article.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="article_id" value="{{ article.id }}" />
                                <button class="btn btn-seconday btn-sm btn-info">Edit Album</button>
                            </form>
                        </div>
                    </div>
                </div>
                <br> 
            </div>          
        {% endfor %}
    </div>
</div>
{% endblock %}
