*{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.navbar {
    background-color: #ffc600;
  }
.navbar .navbar-brand {
  color: #002f6c;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #002f6c;
}
.navbar .navbar-text {
  color: #002f6c;
}
.navbar .navbar-text a {
  color: #002f6c;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #002f6c; 
}
.navbar .navbar-nav .nav-link {
  color: #002f6c;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #002f6c;
  background-color: #ffc600;
}
.navbar .navbar-toggle {
  border-color: #002f6c;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffc600;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #002f6c;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #002f6c;
}
.navbar .navbar-link {
  color: #002f6c;
}
.navbar .navbar-link:hover {
  color: #002f6c;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #002f6c;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #002f6c;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #002f6c;
    background-color: #ffc600;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #002f6c;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #002f6c;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #002f6c;
    background-color: #ffc600;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #002f6c;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #002f6c;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #002f6c;
    background-color: #ffc600;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #002f6c;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #002f6c;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #002f6c;
    background-color: #ffc600;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #002f6c;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #002f6c;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #002f6c;
  background-color: #ffc600;
}

.content-header{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 40px;
}
.nav-bar-button-porperties{
  background-color: #ffc600;
  color: #002f6c;
}
.nav-bar-button-porperties:hover{
  background-color: #002f6c;
  color: #ffc600;
}
input[type=search] {
  background-color: #ffc600;
  color: white;
  border-color: #002f6c;
}
.nav-bar-input-porperties:hover{
  background-color: #ffffff;
}

.bottom-nav-header{
  text-align: center;
}
::placeholder{
  color: #002f6c;
}
.sign-up-button{
  background-color: #ffc600;
  color: #002f6c;
}
.sign-up-button:hover{
  background-color: #002f6c;
  color: #ffc600;
}
.admin-panel-button{
  background-color: #ffc600;
  color: #002f6c;
}
.admin-panel-button:hover{
  background-color: #002f6c;
  color: #ffc600;
}
.add-article-button{
  background-color: #ffc600;
  color: #002f6c;
}
.admin-panel-button:hover{
  background-color: #002f6c;
  color: #ffc600;
}
.log-in-button{
  background-color: #ffc600;
  color: #002f6c;
}
.log-in-button:hover{
  background-color: #002f6c;
  color: #ffc600;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #0f294a;
  border-radius: 50%;
  border-top: 16px solid #f7c644;
  border-top: 16px solid #0f294a;
  border-right: 16px solid #f7c644;
  border-bottom: 16px solid #0f294a;
  border-left: 16px solid #f7c644;

  width: 120px;
  height: 120px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

